
.order-summary {
    background-color: grey;
    color: white;
    padding: 1.5em 1em;
    height: fit-content;
    position: sticky;
    top: 0;
}

.summary-header, .summary-desc {
    margin-bottom: 1em;
}
