
.products {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    row-gap: 4em;
    flex-wrap: wrap;
    padding-right: 5em;
}

@media (max-width: 1200px) {
 
    .products {
        justify-content: center;
    }

}